<div class="span4">
	<form class="well">
  	<h3>Collaborators</h3>
    	<ul class="unstyled">
      	<li><i class="icon-user"></i><%= link_to " Neil Heinrich", prototypes_path("neil") %></li>      
      	<li><i class="icon-user"></i><%= link_to " Moaning Mary", void_path %></li>
      	<li><i class="icon-user"></i><%= link_to " Karina Carnivore", void_path %></li>
      	<li><i class="icon-user"></i><%= link_to " Ned Needlehoser", void_path %></li>      
      	<li><i class="icon-user"></i><%= link_to " Lisa Leeper", void_path %></li>
      	<li><i class="icon-user"></i><%= link_to " Master Jed Fancon", void_path %></li>
    	</ul>
    	<%= link_to "Watch this Project", void_path, :class => "btn btn-primary" %>
  </form>
</div>