<h3>Collaborators</h3>

<form class="well">
	<ul class="unstyled">
  	<li><i class="icon-user"></i><%= link_to " Neil Heinrich", prototypes_path("neil") %></li>      
  	<li><i class="icon-user"></i><%= link_to " Siri Hedengran", void_path %></li>
  	<li><i class="icon-user"></i><%= link_to " Karina Carnivore", void_path %></li>
  	<li><i class="icon-user"></i><%= link_to " Ned Needlehoser", void_path %></li>      
  	<li><i class="icon-user"></i><%= link_to " Lisa Leeper", void_path %></li>
  	<li><i class="icon-user"></i><%= link_to " Master Jed Fancon", void_path %></li>
	</ul>
</form>
