<h3>Collaborators</h3>

<form class="well">
	<ul class="unstyled">
  	<li><i class="icon-user"></i><%= link_to " Neil Heinrich", prototypes_path("neil") %> - Project Manager</li>      
  	<li><i class="icon-user"></i><%= link_to " Siri Hedengran", void_path %> - Web Develper</li>
  	<li><i class="icon-user"></i><%= link_to " Karina Carnivore", void_path %> - Web Designer</li>
  	<li><i class="icon-user"></i><%= link_to " Ned Needlehoser", void_path %> - Web Developer</li>      
  	<li><i class="icon-user"></i><%= link_to " Lisa Leeper", void_path %> - Web Developer</li>
  	<li><i class="icon-user"></i><%= link_to " Master Jed Fancon", void_path %> - CTO</li>
	</ul>
</form>
