<h2><%= link_to "Dashboard", prototypes_path("index") %></h2>
</br>
        
<h3>Projects</h3>

<div class="row-fluid">
  <div class=span8>

    <form class="well">
      <h3><%= link_to "Trackinator", prototypes_path("projects") %>
        <%= link_to "Follow this Project", void_path, :class => "btn btn-mini" %>
      </h3>
      <h3><%= link_to "Gertrude", prototypes_path("projects") %>
        <%= link_to "Follow this Project", void_path, :class => "btn btn-mini" %>
      </h3>
      <h3><%= link_to "Sparrow", prototypes_path("projects") %>
        <%= link_to "Follow this Project", void_path, :class => "btn btn-mini" %>
      </h3>
      <h3><%= link_to "Meal Plan", prototypes_path("projects") %>
        <%= link_to "Follow this Project", void_path, :class => "btn btn-mini" %>
      </h3>                  
    </form>
  </div>
    <%= render :partial => "watchers" %>  
</div>

<h3>Recent Activity</h3>

<div class="row-fluid">
  <div class="span8">
    <form class="well">
			<p><%= link_to "Neil Heinrich", prototypes_path("neil") %> started following the project <%= link_to "Trackinator", prototypes_path("projects") %>. <span> 33 minutes ago</span></p>
		</form>

    <form class="well">
			<p><%= link_to "Siri Hedengran", prototypes_path("neil") %> started following the project <%= link_to "Trackinator", prototypes_path("projects") %>. <span> 23 minutes ago</span></p>
		</form>
		
    <form class="well">
			<p><%= link_to "Neil Heinrich", prototypes_path("neil") %> posted a daily status. <span> 10 minutes ago</span></p>
		</form>		
  </div>

</div>

