<h3 class="span8">Team Name</h3>

<div class="span8">
	<form class="well">

	<div>
		<ul>
			<li><i class="icon-user"></i><%= link_to " Neil Heinrich", prototypes_path("neil") %></li>      
	    <li><i class="icon-user"></i><%= link_to " Moaning Mary", void_path %></li>
	   	<li><i class="icon-user"></i><%= link_to " Karina Carnivore", void_path %></li>
	   	<li><i class="icon-user"></i><%= link_to " Ned Needlehoser", void_path %></li>      
	   	<li><i class="icon-user"></i><%= link_to " Lisa Leeper", void_path %></li>
	   	<li><i class="icon-user"></i><%= link_to " Master Jed Fancon", void_path %></li>
		</ul>
 	</div>

</div>