<!DOCTYPE html>
<html>
<head>
  <title>Daily Status</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class_name %>">

  <div class="wrapper">  
    <div class="container-fluid">
      <%= render "layouts/header" %>
      <%= render "layouts/messages" %>
      <%= yield %>  
    </div>
    <div class="push"></div>
  </div>

  <div class="container-fluid">
    <div class="footer">
      <ul>
        <li>Copyright © 2012 Daily Status</li>
        <li><%= link_to "About Us", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>      
        <li><%= link_to "Help", help_path %></li>      
        <li><%= link_to "Terms of Service", terms_path %></li>
      </ul>      
    </div>
  </div>

</body>
</html>
